body{
    background-color: #0F0A0A;
    display: flow-root;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}


header{
    position: sticky;
    top: 0;
    z-index: 999;
    text-align: center;
}
main{
    margin: 5px 5px;
    text-align: center;
}

div{
    height: 50px;
    overflow: auto;
    color: beige;
}

figure{
    text-align: center;
    align-items: center
}

figcaption{
    color: beige;
}

p{
    color: beige;
}

a{
    text-decoration: none;
    color: beige;
    font-size: 20px;
    margin: 5px 5px;
}


.story_link{
    color: beige;
    text-decoration: underline;
}

.HButton{
    background-color: #0F0A0A;
    color: beige;
    font-size: 20px;
    margin: 5px 5px;
}

/*  cocoa brown #D96C06
    munsell blue #2292A4
    isabelline #F5EFED
    smokey black #0F0A0A
    citrine #BDBF09
    bittersweet #F76C5E
    flax #F5DD90
*\