body{
    background-color: #0F0A0A;
    text-align: center;
}


header{
    position: sticky;
    top: 0;
    z-index: 999;
    text-align: center;
}

p{
    color: beige;
}

a{
    text-decoration: none;
    color: beige;
    font-size: 20px;
    margin: 5px 5px;
}

.gallery{
    display: inline-block;
    border: 0px solid beige;
    margin: 10px;
}

.gallery img{
    width: 200px;    
}

.gallery .description{
    padding: 10px;
    text-align: center;
    color: beige;
}

.gallery:hover{
    border: 1px solid beige;
}

/*  cocoa brown #D96C06
    munsell blue #2292A4
    isabelline #F5EFED
    smokey black #0F0A0A
    citrine #BDBF09
    bittersweet #F76C5E
    flax #F5DD90
*\